Binaries
DerivedDataCache
Intermediate
Saved
Content/Assets
Content/ThirdPerson
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Characters
Content/Developers
Content/Hack_And_Slash_FX
Content/LevelPrototyping
Content/MsvFx_Niagara_Explosion_Pack_01
Content/StarterContent
Content/ThirdPerson
Content/UltraDynamicSky
Content/project/maps
Content/project/anim
Content/project/Monster
Content/project/player
Content/project/Sound

Content/project/BluePrint/UI/Tex
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace